In [5]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
df = pd.read_excel("F:\\Amrita\\5th semester_2024\\Machine Learning\\Lab\\Lab-2\\Lab Session Data.xlsx")
df

,Customer,Candies (#),Mangoes (Kg),Milk Packets (#),Payment (Rs),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Candy,Mango,Milk
0,C_1,20,6,2,386,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,55.0,18.0
1,C_2,16,3,6,289,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C_3,27,6,2,393,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C_4,19,1,2,110,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C_5,24,4,2,280,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,C_6,22,1,5,167,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,C_7,15,4,2,271,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,C_8,18,4,2,274,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,C_9,21,1,4,148,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,C_10,16,2,4,198,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#A1
DFC=df[['Customer','Candies (#)','Mangoes (Kg)','Milk Packets (#)','Payment (Rs)']].dropna()
DFC

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

In [8]:
M1=DFC.iloc[:,:-1].values
M1

array([['C_1', 20, 6, 2],
       ['C_2', 16, 3, 6],
       ['C_3', 27, 6, 2],
       ['C_4', 19, 1, 2],
       ['C_5', 24, 4, 2],
       ['C_6', 22, 1, 5],
       ['C_7', 15, 4, 2],
       ['C_8', 18, 4, 2],
       ['C_9', 21, 1, 4],
       ['C_10', 16, 2, 4]], dtype=object)

In [9]:
M1=DFC.iloc[:,1:4].values
M1
M2=DFC.iloc[:,4:5].values
M2

array([[386],
       [289],
       [393],
       [110],
       [280],
       [167],
       [271],
       [274],
       [148],
       [198]], dtype=int64)

In [10]:
#A1_1 & A1_2
print("Dimension of whole matrix  : ",DFC.shape)
print("Dimension of matrix 1 : ",M1.shape)
print("Dimension of matrix 2 : ",M2.shape)

Dimension of whole matrix  :  (10, 5)
Dimension of matrix 1 :  (10, 3)
Dimension of matrix 2 :  (10, 1)

In [11]:
#A1_3
Rank_A=np.linalg.matrix_rank(M1)
print("The Rank of M1",Rank_A)
Rank_B=np.linalg.matrix_rank(M2)
print("The Rank of M2",Rank_B)

The Rank of M1 3
The Rank of M2 1

In [12]:
#A1_4
PI=np.linalg.pinv(M1)
PI1=np.linalg.pinv(M2)
PI1

array([[0.00053988, 0.00040421, 0.00054967, 0.00015385, 0.00039162,
        0.00023357, 0.00037903, 0.00038323, 0.000207  , 0.00027693]])

In [13]:
# A2 Use the Pseudo-inverse to calculate the model vector X for predicting the cost of the products available with the vendor. 
n=np.dot(PI,M2)
n

array([[ 1.],
       [55.],
       [18.]])

In [14]:
# A3 Mark all customers (in “Purchase Data” table) with payments above Rs. 200 as RICH and others 
#as POOR. Develop a classifier model to categorize customers into RICH or POOR class based on 
#purchase behavior. 
PD = df.iloc[:,4].values
for i in PD:
    if i > 200:
        i=i+1
        print('The guy is rich')
    else:
        print('The guy is {poor}')

The guy is rich
The guy is rich
The guy is rich
The guy is {poor}
The guy is rich
The guy is {poor}
The guy is rich
The guy is rich
The guy is {poor}
The guy is {poor}

In [15]:
filtered_DFC = DFC[DFC['Payment (Rs)'] > 200]
print('rich',filtered_DFC)

rich   Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
4      C_5           24             4                 2           280
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274

In [16]:
d=DFC.loc[(DFC['Payment (Rs)'] > 200)]
print(d)

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
4      C_5           24             4                 2           280
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274

In [18]:
#A4
import pandas as pd
df1 = pd.read_excel("F:\\Amrita\\5th semester_2024\\Machine Learning\\Lab\\Lab-2\\Lab Session Data.xlsx",sheet_name='IRCTC Stock Price' )
df1

,Date,Month,Day,Price,Open,High,Low,Volume,Chg%
0,"Jun 29, 2021",Jun,Tue,2081.85,2092.00,2126.90,2065.05,1.67M,0.0020
1,"Jun 28, 2021",Jun,Mon,2077.75,2084.00,2112.45,2068.40,707.73K,0.0043
2,"Jun 25, 2021",Jun,Fri,2068.85,2084.35,2088.50,2053.10,475.82K,-0.0020
3,"Jun 24, 2021",Jun,Thu,2072.95,2098.00,2098.00,2066.00,541.51K,-0.0026
4,"Jun 23, 2021",Jun,Wed,2078.25,2102.00,2111.40,2072.00,809.62K,-0.0023
...,...,...,...,...,...,...,...,...,...
244,"Jul 07, 2020",Jul,Tue,1397.40,1410.00,1411.00,1390.05,480.21K,-0.0024
245,"Jul 06, 2020",Jul,Mon,1400.75,1405.50,1415.50,1394.00,614.93K,-0.0031
246,"Jul 03, 2020",Jul,Fri,1405.10,1415.00,1425.00,1398.00,599.49K,-0.0051
247,"Jul 02, 2020",Jul,Thu,1412.35,1440.00,1467.80,1395.30,2.16M,0.0362
248,"Jul 01, 2020",Jul,Wed,1363.05,1363.65,1377.00,1356.00,383.00K,0.0032

In [19]:
#A4-1
import statistics
#df1['Price'].mean()
print('Mean of price : ',statistics.mean(df1['Price']))
print('Variance of price : ',statistics.variance(df1['Price']))

Mean of price :  1560.663453815261
Variance of price :  58732.365352539186

In [20]:
df1.loc[(df1['Day']=='Wed')]

,Date,Month,Day,Price,Open,High,Low,Volume,Chg%
4,"Jun 23, 2021",Jun,Wed,2078.25,2102.00,2111.40,2072.00,809.62K,-0.0023
9,"Jun 16, 2021",Jun,Wed,2089.95,2109.45,2121.95,2075.30,856.94K,-0.0038
14,"Jun 09, 2021",Jun,Wed,2071.20,2160.00,2163.00,2060.00,2.34M,-0.0343
19,"Jun 02, 2021",Jun,Wed,1917.95,1899.95,1927.50,1895.25,576.76K,0.0123
24,"May 26, 2021",May,Wed,1894.05,1920.00,1930.05,1888.00,922.76K,-0.0073
29,"May 19, 2021",May,Wed,1858.10,1844.00,1884.95,1840.00,2.10M,0.0126
33,"May 12, 2021",May,Wed,1746.60,1799.00,1829.00,1732.80,1.63M,-0.0255
38,"May 05, 2021",May,Wed,1723.65,1775.00,1782.95,1715.00,1.22M,-0.0263
43,"Apr 28, 2021",Apr,Wed,1795.85,1800.00,1818.00,1775.00,1.54M,0.0015
56,"Apr 07, 2021",Apr,Wed,1709.00,1684.20,1721.40,1673.00,1.47M,0.0121
60,"Mar 31, 2021",Mar,Wed,1757.00,1758.70,1774.95,1735.00,1.09M,0.0010
64,"Mar 24, 2021",Mar,Wed,1760.55,1829.70,1836.80,1750.40,2.09M,-0.0443
69,"Mar 17, 2021",Mar,Wed,1824.00,1905.00,1919.45,1801.00,2.36M,-0.0420
73,"Mar 10, 2021",Mar,Wed,2018.50,2045.00,2047.80,2007.00,1.70M,-0.0040
78,"Mar 03, 2021",Mar,Wed,1886.10,1899.00,1930.00,1880.00,1.83M,-0.0061
83,"Feb 24, 2021",Feb,Wed,1675.45,1638.00,1697.00,1630.10,647.09K,0.0261
88,"Feb 17, 2021",Feb,Wed,1698.65,1672.00,1730.00,1657.00,2.09M,0.0146
93,"Feb 10, 2021",Feb,Wed,1618.40,1648.40,1674.00,1611.10,3.05M,-0.0142
98,"Feb 03, 2021",Feb,Wed,1469.35,1477.40,1498.00,1462.15,1.86M,-0.0008
103,"Jan 27, 2021",Jan,Wed,1438.25,1432.75,1443.65,1422.25,823.11K,0.0084
107,"Jan 20, 2021",Jan,Wed,1452.70,1450.00,1458.40,1437.00,574.12K,0.0064
112,"Jan 13, 2021",Jan,Wed,1461.15,1492.00,1493.55,1442.20,1.18M,-0.0130
117,"Jan 06, 2021",Jan,Wed,1483.45,1461.95,1514.90,1449.00,4.24M,0.0183
122,"Dec 30, 2020",Dec,Wed,1434.95,1420.00,1443.00,1408.00,1.64M,0.0171
126,"Dec 23, 2020",Dec,Wed,1411.55,1404.40,1423.50,1379.05,1.63M,0.0089
131,"Dec 16, 2020",Dec,Wed,1423.40,1453.80,1455.90,1420.00,3.56M,-0.0122
136,"Dec 09, 2020",Dec,Wed,1617.75,1666.60,1701.25,1601.00,3.69M,-0.0187
141,"Dec 02, 2020",Dec,Wed,1349.90,1368.00,1368.80,1346.55,186.84K,-0.0060
145,"Nov 25, 2020",Nov,Wed,1353.90,1370.00,1370.00,1353.00,189.93K,-0.0062
150,"Nov 18, 2020",Nov,Wed,1365.30,1365.00,1370.95,1352.10,312.00K,-0.0109
154,"Nov 11, 2020",Nov,Wed,1371.25,1398.00,1407.00,1343.00,611.90K,-0.0023
159,"Nov 04, 2020",Nov,Wed,1300.55,1292.85,1308.80,1290.05,128.50K,-0.0007
164,"Oct 28, 2020",Oct,Wed,1333.35,1324.00,1339.00,1310.00,185.02K,0.0055
169,"Oct 21, 2020",Oct,Wed,1331.75,1336.55,1343.90,1328.00,156.43K,-0.0003
174,"Oct 14, 2020",Oct,Wed,1338.05,1350.00,1357.60,1331.00,346.04K,0.0012
179,"Oct 07, 2020",Oct,Wed,1356.90,1370.00,1376.50,1349.00,393.99K,-0.0051
183,"Sep 30, 2020",Sep,Wed,1384.00,1383.40,1419.50,1368.70,637.11K,0.0005
188,"Sep 23, 2020",Sep,Wed,1372.85,1365.00,1380.00,1353.25,274.75K,0.0127
193,"Sep 16, 2020",Sep,Wed,1367.40,1376.00,1377.00,1364.00,232.14K,-0.0018
198,"Sep 09, 2020",Sep,Wed,1348.90,1350.00,1358.70,1321.15,1.90M,-0.0221
203,"Sep 02, 2020",Sep,Wed,1359.75,1363.00,1369.90,1353.10,246.51K,0.0061
208,"Aug 26, 2020",Aug,Wed,1369.30,1345.05,1387.20,1342.20,1.10M,0.0205
213,"Aug 19, 2020",Aug,Wed,1361.80,1386.00,1402.00,1338.00,1.28M,-0.0115
218,"Aug 12, 2020",Aug,Wed,1386.80,1350.00,1414.00,1350.00,1.76M,0.0108
223,"Aug 05, 2020",Aug,Wed,1336.95,1345.00,1347.00,1335.00,221.23K,-0.0021
228,"Jul 29, 2020",Jul,Wed,1352.75,1345.00,1369.00,1343.05,385.50K,0.0054
233,"Jul 22, 2020",Jul,Wed,1372.95,1395.00,1398.70,1370.00,458.14K,-0.0124
238,"Jul 15, 2020",Jul,Wed,1351.95,1365.15,1379.00,1350.00,554.12K,-0.0075
243,"Jul 08, 2020",Jul,Wed,1390.10,1397.00,1413.35,1384.60,472.31K,-0.0052
248,"Jul 01, 2020",Jul,Wed,1363.05,1363.65,1377.00,1356.00,383.00K,0.0032

In [21]:
import statistics
Third=df1.loc[(df1['Day']== 'Wed') ]
Third['Price'].mean()
#statistics.mean(Third)

1550.7060000000001

In [22]:
#A5
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Define the path to the file
#file_path = r'C:\Users\year3\Downloads\Lab Session Data.xlsx'

try:
    # Load the dataset
    df = pd.read_excel('F:\\Amrita\\5th semester_2024\\Machine Learning\\Lab-2\\Lab Session Data.xlsx', sheet_name='thyroid0387_UCI')
    
    # Display basic information about the dataset
    print("Basic Information:")
    print(df.info())
    print("\nFirst few rows of the dataset:")
    print(df.head())

    # Identify categorical columns
    categorical_cols = df.select_dtypes(include=['object']).columns
    print("\nCategorical Columns:")
    print(categorical_cols)

    # Check unique values in each categorical column
    print("\nUnique values in categorical columns:")
    for col in categorical_cols:
        print(f"{col}: {df[col].unique()}")

    # Determine encoding scheme
    # For demonstration purposes, assuming ordinal variables are identified manually
    # Example: Assuming 'Education Level' is ordinal and others are nominal
    ordinal_cols = ['Education Level']  # Example list
    nominal_cols = list(set(categorical_cols) - set(ordinal_cols))
    print("\nOrdinal Columns:")
    print(ordinal_cols)
    print("\nNominal Columns:")
    print(nominal_cols)

    # Data range for numeric variables
    print("\nNumeric Data Range:")
    print(df.describe())

    # Check for missing values
    print("\nMissing Values:")
    print(df.isnull().sum())

    # Identify outliers using IQR method
    numeric_cols = df.select_dtypes(include=['number']).columns
    Q1 = df[numeric_cols].quantile(0.25)
    Q3 = df[numeric_cols].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((df[numeric_cols] < (Q1 - 1.5 * IQR)) | (df[numeric_cols] > (Q3 + 1.5 * IQR)))
    print("\nOutliers count:")
    print(outliers.sum())

    # Box plots for numeric columns to visualize outliers
    print("\nBox Plots for Numeric Columns:")
    for col in numeric_cols:
        plt.figure()
        sns.boxplot(x=df[col])
        plt.title(f'Box Plot for {col}')
        plt.show()

    # Calculate mean and variance (or standard deviation)
    print("\nMean of Numeric Columns:")
    print(df[numeric_cols].mean())

    print("\nVariance of Numeric Columns:")
    print(df[numeric_cols].var())

    print("\nStandard Deviation of Numeric Columns:")
    print(df[numeric_cols].std())

except FileNotFoundError:
    print(f"Error: The file at path was not found. Please check the file path and try again.")
except Exception as e:
    print(f"An error occurred: {e}")

Error: The file at path was not found. Please check the file path and try again.

In [23]:
import pandas as pd

# Define the path to the file
file_path = r'C:\Users\year3\Downloads\Lab Session Data.xlsx'

try:
    # Load the dataset
    df = pd.read_excel('F:\\Amrita\\5th semester_2024\\Machine Learning\\Lab-2\\Lab Session Data.xlsx', sheet_name='thyroid0387_UCI')


    # Identify numeric and categorical columns
    numeric_cols = df.select_dtypes(include=['number']).columns
    categorical_cols = df.select_dtypes(include=['object']).columns

    # Fill missing values for numeric columns
    for col in numeric_cols:
        # Check for outliers using IQR method
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        is_outlier = ((df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))).any()

        if is_outlier:
            # Fill missing values with median if outliers are present
            df[col].fillna(df[col].median(), inplace=True)
        else:
            # Fill missing values with mean if no outliers are present
            df[col].fillna(df[col].mean(), inplace=True)

    # Fill missing values in categorical columns with mode
    for col in categorical_cols:
        df[col].fillna(df[col].mode()[0], inplace=True)

    print("Data imputation completed.")

except FileNotFoundError:
    print(f"Error: The file at path '{file_path}' was not found. Please check the file path and try again.")
except Exception as e:
    print(f"An error occurred: {e}")

Error: The file at path 'C:\Users\year3\Downloads\Lab Session Data.xlsx' was not found. Please check the file path and try again.

In [24]:
#A8
import pandas as pd
import numpy as np

# Define the path to the file
file_path = r'C:\Users\year3\Downloads\Lab Session Data.xlsx'

try:
    # Load the dataset
    df = pd.read_excel('F:\\Amrita\\5th semester_2024\\Machine Learning\\Lab-2\\Lab Session Data.xlsx', sheet_name='thyroid0387_UCI')
    # Identify binary attributes (0/1 values)
    binary_cols = df.columns[df.nunique() == 2]  # Simplistic approach for identifying binary columns
    
    if len(binary_cols) < 1:
        raise ValueError("No binary columns found in the dataset.")
    
    # Extract the first two rows
    vector1 = df.loc[0, binary_cols]
    vector2 = df.loc[1, binary_cols]

    # Calculate f11, f10, f01, and f00
    f11 = np.sum((vector1 == 1) & (vector2 == 1))  # Both 1
    f10 = np.sum((vector1 == 1) & (vector2 == 0))  # 1 in vector1 only
    f01 = np.sum((vector1 == 0) & (vector2 == 1))  # 1 in vector2 only
    f00 = np.sum((vector1 == 0) & (vector2 == 0))  # Both 0

    # Calculate Jaccard Coefficient (JC)
    denominator_jc = f01 + f10 + f11
    jc = f11 / denominator_jc if denominator_jc != 0 else float('nan')
    
    # Calculate Simple Matching Coefficient (SMC)
    denominator_smc = f00 + f01 + f10 + f11
    smc = (f11 + f00) / denominator_smc if denominator_smc != 0 else float('nan')

    print("\nJaccard Coefficient (JC):", jc)
    print("Simple Matching Coefficient (SMC):", smc)

except FileNotFoundError:
    print(f"Error: The file at path '{file_path}' was not found. Please check the file path and try again.")
except ValueError as ve:
    print(f"Value Error: {ve}")
except Exception as e:
    print(f"An error occurred: {e}")

Error: The file at path 'C:\Users\year3\Downloads\Lab Session Data.xlsx' was not found. Please check the file path and try again.

In [25]:
import pandas as pd
import numpy as np

# Define the path to the file
file_path = r'C:\Users\year3\Downloads\Lab Session Data.xlsx'

try:
    # Load the dataset
    df = pd.read_excel('F:\\Amrita\\5th semester_2024\\Machine Learning\\Lab-2\\Lab Session Data.xlsx', sheet_name='thyroid0387_UCI')

    # Convert all columns to numeric, forcing errors to NaN (Not a Number)
    df = df.apply(pd.to_numeric, errors='coerce')

    # Check for missing values
    if df.isnull().values.any():
        print("Missing values detected. Filling missing values with 0.")
        df = df.fillna(0)  # Fill missing values with 0 or another imputation strategy

    # Extract the complete vectors for the first two observations
    vector1 = df.loc[0].values
    vector2 = df.loc[1].values

    # Calculate the dot product of the two vectors
    dot_product = np.dot(vector1, vector2)

    # Calculate the magnitudes (norms) of the vectors
    norm_vector1 = np.linalg.norm(vector1)
    norm_vector2 = np.linalg.norm(vector2)

    # Calculate the Cosine Similarity
    if norm_vector1 > 0 and norm_vector2 > 0:
        cosine_similarity = dot_product / (norm_vector1 * norm_vector2)
    else:
        cosine_similarity = float('nan')  # Handle the case where one or both vectors are zero vectors

    print("\nCosine Similarity:", cosine_similarity)

except FileNotFoundError:
    print(f"Error: The file at path '{file_path}' was not found. Please check the file path and try again.")
except ValueError as ve:
    print(f"Value Error: {ve}")
except Exception as e:
    print(f"An error occurred: {e}")

Error: The file at path 'C:\Users\year3\Downloads\Lab Session Data.xlsx' was not found. Please check the file path and try again.

In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Define the path to the file
file_path = r'C:\Users\year3\Downloads\Lab Session Data.xlsx'

try:
    # Load the dataset
    df = pd.read_excel('F:\\Amrita\\5th semester_2024\\Machine Learning\\Lab-2\\Lab Session Data.xlsx', sheet_name='thyroid0387_UCI')

    # Convert all columns to numeric, forcing errors to NaN (Not a Number)
    df = df.apply(pd.to_numeric, errors='coerce')

    # Fill missing values with 0
    df = df.fillna(0)

    # Extract the first 20 rows
    subset_df = df.head(20)

    # Initialize similarity matrices
    n = subset_df.shape[0]
    jc_matrix = np.zeros((n, n))
    smc_matrix = np.zeros((n, n))
    cosine_matrix = np.zeros((n, n))

    # Calculate Jaccard Coefficient (JC), Simple Matching Coefficient (SMC), and Cosine Similarity
    for i in range(n):
        for j in range(i, n):
            vector1 = subset_df.iloc[i].values
            vector2 = subset_df.iloc[j].values

            # Jaccard Coefficient (JC) for binary attributes
            binary_cols = (vector1 == 0) | (vector1 == 1)  # Ensure columns are binary
            f11 = np.sum((vector1[binary_cols] == 1) & (vector2[binary_cols] == 1))
            f10 = np.sum((vector1[binary_cols] == 1) & (vector2[binary_cols] == 0))
            f01 = np.sum((vector1[binary_cols] == 0) & (vector2[binary_cols] == 1))
            jc = f11 / (f01 + f10 + f11) if (f01 + f10 + f11) > 0 else float('nan')
            jc_matrix[i, j] = jc
            jc_matrix[j, i] = jc  # Symmetric matrix

            # Simple Matching Coefficient (SMC) for binary attributes
            f00 = np.sum((vector1[binary_cols] == 0) & (vector2[binary_cols] == 0))
            smc = (f11 + f00) / (f00 + f01 + f10 + f11) if (f00 + f01 + f10 + f11) > 0 else float('nan')
            smc_matrix[i, j] = smc
            smc_matrix[j, i] = smc  # Symmetric matrix

            # Cosine Similarity
            dot_product = np.dot(vector1, vector2)
            norm_vector1 = np.linalg.norm(vector1)
            norm_vector2 = np.linalg.norm(vector2)
            cosine_similarity = dot_product / (norm_vector1 * norm_vector2) if norm_vector1 > 0 and norm_vector2 > 0 else float('nan')
            cosine_matrix[i, j] = cosine_similarity
            cosine_matrix[j, i] = cosine_similarity  # Symmetric matrix

    # Plot heatmaps
    fig, axes = plt.subplots(1, 3, figsize=(18, 6))

    sns.heatmap(jc_matrix, annot=True, cmap='YlGnBu', ax=axes[0])
    axes[0].set_title('Jaccard Coefficient (JC)')

    sns.heatmap(smc_matrix, annot=True, cmap='YlGnBu', ax=axes[1])
    axes[1].set_title('Simple Matching Coefficient (SMC)')

    sns.heatmap(cosine_matrix, annot=True, cmap='YlGnBu', ax=axes[2])
    axes[2].set_title('Cosine Similarity')

    plt.tight_layout()
    plt.show()

except FileNotFoundError:
    print(f"Error: The file at path '{file_path}' was not found. Please check the file path and try again.")
except Exception as e:
    print(f"An error occurred: {e}")

Error: The file at path 'C:\Users\year3\Downloads\Lab Session Data.xlsx' was not found. Please check the file path and try again.

In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Define the path to the file
file_path = r'C:\Users\year3\Downloads\Lab Session Data.xlsx'

try:
    # Load the dataset
    df = pd.read_excel('F:\\Amrita\\5th semester_2024\\Machine Learning\\Lab-2\\Lab Session Data.xlsx', sheet_name='thyroid0387_UCI')

    # Convert all columns to numeric, forcing errors to NaN (Not a Number)
    df = df.apply(pd.to_numeric, errors='coerce')

    # Fill missing values with 0
    df = df.fillna(0)

    # Extract the first 20 rows
    subset_df = df.head(20)

    # Initialize similarity matrices
    n = subset_df.shape[0]
    jc_matrix = np.zeros((n, n))
    smc_matrix = np.zeros((n, n))
    cosine_matrix = np.zeros((n, n))

    # Calculate Jaccard Coefficient (JC), Simple Matching Coefficient (SMC), and Cosine Similarity
    for i in range(n):
        for j in range(i, n):
            vector1 = subset_df.iloc[i].values
            vector2 = subset_df.iloc[j].values

            # Jaccard Coefficient (JC) for binary attributes
            binary_cols = (vector1 == 0) | (vector1 == 1)  # Ensure columns are binary
            f11 = np.sum((vector1[binary_cols] == 1) & (vector2[binary_cols] == 1))
            f10 = np.sum((vector1[binary_cols] == 1) & (vector2[binary_cols] == 0))
            f01 = np.sum((vector1[binary_cols] == 0) & (vector2[binary_cols] == 1))
            jc = f11 / (f01 + f10 + f11) if (f01 + f10 + f11) > 0 else float('nan')
            jc_matrix[i, j] = jc
            jc_matrix[j, i] = jc  # Symmetric matrix

            # Simple Matching Coefficient (SMC) for binary attributes
            f00 = np.sum((vector1[binary_cols] == 0) & (vector2[binary_cols] == 0))
            smc = (f11 + f00) / (f00 + f01 + f10 + f11) if (f00 + f01 + f10 + f11) > 0 else float('nan')
            smc_matrix[i, j] = smc
            smc_matrix[j, i] = smc  # Symmetric matrix

            # Cosine Similarity
            dot_product = np.dot(vector1, vector2)
            norm_vector1 = np.linalg.norm(vector1)
            norm_vector2 = np.linalg.norm(vector2)
            cosine_similarity = dot_product / (norm_vector1 * norm_vector2) if norm_vector1 > 0 and norm_vector2 > 0 else float('nan')
            cosine_matrix[i, j] = cosine_similarity
            cosine_matrix[j, i] = cosine_similarity  # Symmetric matrix

    # Plot heatmaps
    fig, axes = plt.subplots(1, 3, figsize=(18, 6))

    sns.heatmap(jc_matrix, annot=True, cmap='YlGnBu', ax=axes[0])
    axes[0].set_title('Jaccard Coefficient (JC)')

    sns.heatmap(smc_matrix, annot=True, cmap='YlGnBu', ax=axes[1])
    axes[1].set_title('Simple Matching Coefficient (SMC)')

    sns.heatmap(cosine_matrix, annot=True, cmap='YlGnBu', ax=axes[2])
    axes[2].set_title('Cosine Similarity')

    plt.tight_layout()
    plt.show()

except FileNotFoundError:
    print(f"Error: The file at path '{file_path}' was not found. Please check the file path and try again.")
except Exception as e:
    print(f"An error occurred: {e}")

Error: The file at path 'C:\Users\year3\Downloads\Lab Session Data.xlsx' was not found. Please check the file path and try again.